body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #333;
}

header {
    background: linear-gradient(135deg, #000, #d4af37);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 20px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;
}

section {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

h2 {
    color: #b8860b;
}

input,
button {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input {
    border: 1px solid #ccc;
}

button {
    background: #d4af37;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #f0c94d;
}

#galerie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

#galerie img {
    width: 100%;
    border-radius: 15px;
}

#galerie a {
    display: block;
    text-align: center;
    margin-top: 8px;
    color: #b8860b;
    font-weight: bold;
}
